# shellcheck disable=SC2148,SC2129,SC2035,SC2016
PATH=/usr/local/bin:/usr/bin:/bin
SHELL=/bin/bash

# При старте запускаем наш скрипт
@reboot /bin/bash /app/startup.sh >>/var/log/cron.log 2>&1

# Регулярные задачи с рандомной задержкой от 1 до 15 минут
0 */4 * * * /bin/bash -c 'sleep $((60 + RANDOM % 841))' && python3 -m hh_applicant_tool -c /app/config update-resumes >>/var/log/cron.log 2>&1
0 13,21 * * * /bin/bash -c 'sleep $((60 + RANDOM % 841))' && python3 -m hh_applicant_tool -c /app/config apply-similar >>/var/log/cron.log 2>&1
0 19 * * * /bin/bash -c 'sleep $((60 + RANDOM % 841))' && python3 -m hh_applicant_tool -c /app/config refresh-token >>/var/log/cron.log 2>&1
