# shellcheck disable=all
PATH=/usr/local/bin:/usr/local/sbin:/usr/bin:/usr/sbin:/bin:/sbin
SHELL=/bin/bash

# При старте системы/контейнера
@reboot /bin/bash /app/startup.sh >> /var/log/cron.log 2>&1

# Подъем резюме (раз в 4 часа)
# Символ процента в кронтабе нужно экранировать
# sleep с рандомной задержкой от 1 до 5 минут нужен во-первых чтобы токен обновиться успел, а во
# вторых, чтобы антиспам не сработал
0 */5 * * * /bin/bash -c 'sleep $((60 + RANDOM \% 241))' && /usr/local/bin/python -m hh_applicant_tool update-resumes >> /var/log/cron.log 2>&1

# Рассылаем отклики
0 8-21 * * * /bin/bash -c 'sleep $((60 + RANDOM \% 241))' && /usr/local/bin/python -m hh_applicant_tool apply-similar -L /app/apply_messages.txt -f --excluded-filter 'junior|стажировк|bitrix|ddd|web3|crypto|blockchain|дружн\\w+коллектив|полиграф|open\\s*space|опенспейс|хакатон|конкурс' >> /var/log/cron.log 2>&1

# Тест: каждые 5 минут (задержка до 1 минуты, чтобы не накладывались)
#*/5 * * * * /bin/bash -c 'sleep $((1 + RANDOM \% 59))' && /usr/local/bin/python -m hh_applicant_tool apply-similar >> /var/log/cron.log 2>&1

# Пытаемся обновить токен каждую минуту. В этом нет необходимости, можно закомментировать, так как
# токен обновляется автоматически при любом запросе
*/1 * * * * /usr/local/bin/python -m hh_applicant_tool refresh-token

# Раскомментируй, если хочешь удалять чаты с отказами
#0 */1 * * * /bin/bash -c 'sleep $((60 + RANDOM \% 241))' && /usr/local/bin/python -m hh-applicant-tool clear-negotiations -d >> /var/log/cron.log 2>&1

#*/1 * * * * echo "Cron is alive at $(date)" >> /var/log/cron.log 2>&1
