[tool.poetry]
name = "hh-applicant-tool"
version = "0.3.6"
description = ""
authors = ["Senior YAML Developer <yamldeveloper@proton.me>"]
readme = "README.md"
packages = [{include = "hh_applicant_tool"}]

[tool.poetry.dependencies]
python = "^3.10"
requests = "^2.28.2"
prettytable = "^3.6.0"
pyqt6 = { version = "^6.7.1", optional = true }
pyqt6-webengine = { version = "^6.7.0", optional = true }

[tool.poetry.extras]
qt = ["pyqt6", "pyqt6-webengine"]

[tool.poetry.group.dev.dependencies]
black = "^23.1.0"
isort = "^5.12.0"
pylint = "^2.16.4"
pytest = "^7.2.2"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
hh-applicant-tool = "hh_applicant_tool.main:main"
